{% extends "website/base.html" %}
{% load site_tags %}

{% block css %}

    html{ background-color: {{ settings.accent_color }}; }
    div.card-content * { color: {{ settings.fore_color }} }

    {{ settings.override_css|safe }} 
    {% block extracss %}{% endblock %}

{% endblock %}

{% block content %}


{% if settings.show_welcome_message %}
  <div class="card welcome">
      <div class="card-content">
          {{ settings.welcome_message|safe }}
      </div>
  </div>
{% endif %}


{% with limit=settings.card_columns %}
{% for page in pages %}

{% if forloop.counter0|modulo0:limit %}
<div class="columns">
{% endif %}

    <div class="column">
        <div class="card">
          <div class="card-title">
                {% if page.page_icon %}
                    <figure class="icon">
                        <img src="{{ page.page_icon.url }}" alt="{{ page.title }}" /> &nbsp;
                    </figure>
                {% endif %}
              {{ page.title|safe }}
          </div>
            {% if page.cover_image %}
              <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ page.cover_image.url }}" alt="{{ page.title }}" />
                </figure>
              </div>
              {% endif %}
          <div class="card-content">
              {{ page.description|safe }}
          </div>
          <div class="card-footer">
              <a href="{% url 'page' page.id %}" class="card-footer-item">READ</a>
          </div>
        </div>
    </div>

{% if forloop.counter0|add:"1"|modulo0:limit %}
    </div>
{% endif %}

{% endfor %}
{% endwith %}

</div>

{% endblock %}
